@model IEnumerable<Granite.Models.ProductType>

@{
    ViewData["Title"] = "ProductTypes";
}

<div>
    <h1>Product Type List</h1>
    <button class="btn btn-primary">New Product Type</button>
</div>

<table class="table">
    <thead>
       <tr>
           <th>Name</th>
       </tr>
    </thead>
    <tbody>
    @foreach (var productType in Model)
    {
        <tr>
            <td class="col-lg-8">
                @productType.name
            </td>
            <td class="col-lg-4">
                <button class="btn btn-primary" asp-action="Edit"><i class="fas fa-edit"></i></button>
                <button class="btn btn-success" asp-action="Details"><i class="fas fa-list"></i></button>
                <button class="btn btn-danger" asp-action="Delete"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    }
    </tbody>

</table>